<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("f06a9544-579b-4b39-9f1d-cdd6bde45347");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
